In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Define path and load the merged dataframe
path = r"C:\Users\Pocah\OneDrive\Desktop\bootcamp\python\Prepared Data"
df = pd.read_pickle(os.path.join(path, 'ords_prods_merge.pkl'))

In [3]:
# Aggregating mean order_number for all departments
order_mean = df.groupby('department_id')['order_number'].mean()

In [4]:
# Display results
order_mean

department_id
1.0     15.457687
2.0     17.277920
3.0     17.179756
4.0     17.811403
5.0     15.213779
6.0     16.439806
7.0     17.225773
8.0     15.340520
9.0     15.895474
10.0    20.197148
11.0    16.170828
12.0    15.887622
13.0    16.583304
14.0    16.757377
15.0    16.165037
16.0    17.663250
17.0    15.694469
18.0    19.310397
19.0    17.177343
20.0    16.473447
21.0    22.902379
Name: order_number, dtype: float64

In [5]:
# Create mean order count per user
df['order_mean_per_user'] = df.groupby('user_id')['order_number'].transform('mean')

In [6]:
# Creating loyalty flag
df.loc[df['order_mean_per_user'] > 20, 'loyalty_flag'] = 'Loyal Customer'
df.loc[(df['order_mean_per_user'] <= 20) & (df['order_mean_per_user'] > 10), 'loyalty_flag'] = 'Regular Customer'
df.loc[df['order_mean_per_user'] <= 10, 'loyalty_flag'] = 'New Customer'

In [ ]:
#Analyze Spending by Loyalty Category

In [7]:
# Descriptive stats for prices by loyalty
df.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal Customer,10944620.0,10.466139,340.945772,1.0,4.2,7.4,11.2,99999.0
New Customer,12090394.0,13.312566,592.339583,1.0,4.2,7.4,11.3,99999.0
Regular Customer,9399198.0,12.032609,510.198900,1.0,4.2,7.4,11.3,99999.0

In [ ]:
#Create Spending Flag

In [8]:
# Calculate average price per user
df['avg_price_per_user'] = df.groupby('user_id')['prices'].transform('mean')

In [9]:
# Flag spenders
df.loc[df['avg_price_per_user'] < 10, 'spending_flag'] = 'Low spender'
df.loc[df['avg_price_per_user'] >= 10, 'spending_flag'] = 'High spender'

In [ ]:
 #Create Order Frequency Flag

In [10]:
# Calculate median days_since_prior_order
df['median_days'] = df.groupby('user_id')['days_since_prior_order'].transform('median')

In [13]:
# Frequency flag
df.loc[df['median_days'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'
df.loc[(df['median_days'] > 10) & (df['median_days'] <= 20), 'order_frequency_flag'] = 'Regular customer'
df.loc[df['median_days'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [14]:
#Export Final DataFrame

In [15]:
# Export to pickle
df.to_pickle(os.path.join(path, 'ords_prods_enriched.pkl'))

In [16]:
df.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,order_mean_per_user,loyalty_flag,avg_price_per_user,spending_flag,median_days,order_frequency_flag
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,77.0,7.0,9.0,both,5.813559,New Customer,6.367797,Low spender,20.0,Regular customer
1,2539329,1,prior,1,2,8,0.0,14084,2,0,...,91.0,16.0,12.5,both,5.813559,New Customer,6.367797,Low spender,20.0,Regular customer
2,2539329,1,prior,1,2,8,0.0,12427,3,0,...,23.0,19.0,4.4,both,5.813559,New Customer,6.367797,Low spender,20.0,Regular customer
3,2539329,1,prior,1,2,8,0.0,26088,4,0,...,23.0,19.0,4.7,both,5.813559,New Customer,6.367797,Low spender,20.0,Regular customer
4,2539329,1,prior,1,2,8,0.0,26405,5,0,...,54.0,17.0,1.0,both,5.813559,New Customer,6.367797,Low spender,20.0,Regular customer

In [19]:
df.shape

(32436241, 21)