In [ ]:
# Instacart Project – Data Wrangling & Analysis

This notebook includes all steps from data import to exporting cleaned datasets, with insights and summaries where needed.

In [ ]:
## 1. Importing Libraries and Setting Path

In [1]:
import pandas as pd
import os

In [2]:
path = r"C:\Users\Pocah\OneDrive\Desktop\bootcamp\python"

In [ ]:
## 2. Importing Datasets

In [3]:
# Load orders data
df_ords = pd.read_csv(os.path.join(path, 'original data', '4.3_orders_products (1)', 'orders.csv'))

In [4]:
# Load orders data
df_ords = pd.read_csv(os.path.join(path, 'original data', '4.3_orders_products (1)', 'orders.csv'))

In [7]:
path = r"C:\Users\Pocah\OneDrive\Desktop\bootcamp\python"

In [8]:
df_dep = pd.read_csv(os.path.join(path, 'original data', '4.4_departments', 'departments.csv'))

In [ ]:
## 3. Cleaning Departments Table

In [10]:
# Converting user_id to string — I won’t analyze it numerically
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [11]:
# Rename 'order_dow' to 'order_day_of_week'
df_ords.rename(columns={'order_dow': 'order_day_of_week'}, inplace=True)

In [12]:
# Frequency count of orders by hour
hour_counts = df_ords['order_hour_of_day'].value_counts().sort_index()

In [ ]:
## 4. Busiest Hour Analysis

In [13]:
# Displaying the busiest hour
busiest_hour = hour_counts.idxmax()
print(f"The busiest hour for placing orders is: {busiest_hour}")

The busiest hour for placing orders is: 10

In [14]:
# Check the department with ID 4
df_dep[df_dep['department_id'] == 4]

Empty DataFrame
Columns: [department_id, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
Index: []

[0 rows x 22 columns]

In [18]:
# Load the products data
df_prods = pd.read_csv(os.path.join(path, 'original data', '4.3_orders_products (1)', 'products.csv'))

In [22]:
print(df_prods.columns)

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [23]:
print(df_dep.columns)

Index(['department_id', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'],
      dtype='object')

In [24]:
# Transpose the departments table
df_dep = df_dep.T

In [25]:
# Reset index so it becomes a column
df_dep.reset_index(inplace=True)

In [26]:
# Rename the columns to match expected structure
df_dep.columns = ['department_id', 'department']

In [28]:
print(df_prods['department_id'].dtype)
print(df_dep['department_id'].dtype)

int64
object

In [ ]:
## 5. Data Wrangling in Orders Data

In [29]:
# Convert department_id in both DataFrames to string type
df_prods['department_id'] = df_prods['department_id'].astype(str)
df_dep['department_id'] = df_dep['department_id'].astype(str)

In [ ]:
## 6. Merged Products with Departments

In [30]:
df_prods_merged = pd.merge(df_prods, df_dep, on='department_id', how='left')

In [ ]:
## 7. Breakfast Subset

In [31]:
# Subset the merged data for breakfast items
df_breakfast = df_prods_merged[df_prods_merged['department'] == 'breakfast']

In [32]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices,department
27,28,Wheat Chex Cereal,121,14,10.1,breakfast
33,34,NaN,121,14,12.2,breakfast
67,68,"Pancake Mix, Buttermilk",130,14,13.7,breakfast
89,90,Smorz Cereal,121,14,3.9,breakfast
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6,breakfast

In [33]:
# Define target departments
party_depts = ['alcohol', 'deli', 'beverages', 'meat/seafood']

In [ ]:
## 8. dinner subset

In [34]:
# Subset the merged data for dinner party items
df_dinner_party = df_prods_merged[df_prods_merged['department'].isin(party_depts)]

In [35]:
print(df_dinner_party.shape[0])  # Total number of rows
df_dinner_party.head()

6743

,product_id,product_name,aisle_id,department_id,prices,department
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5,beverages
6,7,Pure Coconut Water With Orange,98,7,4.4,beverages
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4,beverages
10,11,Peach Mango Juice,31,7,2.8,beverages
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0,beverages

In [36]:
# Get total number of rows in df_dinner_party
print("Total rows in df_dinner_party:", df_dinner_party.shape[0])

Total rows in df_dinner_party: 6743

In [37]:
# Extract all records for user_id "1"
user_1_data = df_ords[df_ords['user_id'] == '1']
user_1_data

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0

In [38]:
# Descriptive statistics for user 1
user_1_data.describe()

,order_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,1.100000e+01,11.000000,11.000000,11.000000,10.000000
mean,1.923450e+06,6.000000,2.636364,10.090909,19.000000
std,1.071950e+06,3.316625,1.286291,3.477198,9.030811
min,4.315340e+05,1.000000,1.000000,7.000000,0.000000
25%,8.690170e+05,3.500000,1.500000,7.500000,14.250000
50%,2.295261e+06,6.000000,3.000000,8.000000,19.500000
75%,2.544846e+06,8.500000,4.000000,13.000000,26.250000
max,3.367565e+06,11.000000,4.000000,16.000000,30.000000

In [ ]:
## 10. Exporting Final Data

In [39]:
# Export cleaned orders data
df_ords.to_csv(os.path.join(path, 'Prepared Data', 'orders_wrangled.csv'), index=False)

In [40]:
# Copy departments and export
df_dep_t_new = df_dep.copy()
df_dep_t_new.to_csv(os.path.join(path, 'Prepared Data', 'departments_wrangled.csv'), index=False)

In [ ]:
## Notebook Completed
- Data imported, wrangled, and analyzed
- Subsets created and exported
- Code documented with comments and insights